* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.perfil {
    width: 30%;
    height: 59px;
    box-sizing: border-box;
    padding: 10px 16px;
    border-right:1px solid #d6d6d6;
    background-color: #ededed;
    vertical-align: center;
    float: left;
    position: fixed;
    
}

.fotoperfil {
    border-radius: 50%;
    float:left;
}

.botoesperfil {
    float:right;
}

.conversando {
    width: 70%;
    height: 59px;
    box-sizing: border-box;
    padding: 10px 16px;
    border-bottom:1px solid #d6d6d6;
    background-color: #ededed;
    vertical-align: center;
    position:fixed;
    left: 30%;
}

.nome {
    float: left;
    vertical-align: center;
    box-sizing: border-box;
    margin-left: 12px;
    font-size: 18px;

}

.notificações {
        width: 30%;
        height: 89px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        padding: 13px 0px 14px 0px;
        background-color: #9de1fe;
        top: 59px;
        position: relative;
}

.pesquisa {
    width: 30%;
    height: 49px;
    box-sizing: border-box;
    vertical-align: center;
    padding: 7px;
    border-bottom: 1px solid #d6d6d6;
    border-right:1px solid #d6d6d6;
    background-color: #ededed;
    top: 59px;
    position: relative;    
}

#pesquisa {
    float:left;
}


.contato1, .contato2, .contato3, .contato4, .contato5, .contato6,.contato7, .contato8 {
    width: 30%;
    height: 72px;
    box-sizing: border-box;
    padding: 15px;
    border-bottom: 1px solid #d6d6d6;
    border-right:1px solid #d6d6d6 ;
    background-color: #ededed;
    top: 59px;
    position: relative;
    text-align: left;
}

.input1 {
    border: 1px solid #ededed;
    border-radius: 40px;
    width: 80%;
    height: 30px;
    text-align: center;
}

.cxmsg {
    background-color: #ededed;
    text-align: center;
    width: 70%;
    height: 62px;
    box-sizing: border-box;
    background-color: #ededed;
    bottom: 0px;
    left: 30%;
    position: fixed;
}

.input2 {
    border: 1px solid #ededed;
    border-radius: 40px;
    width: 80%;
    height: 40px;
    text-align: left;
    vertical-align: 100%;
    padding-left: 10px;
}

.backgroundimg {
    background-color: #ededed;
    text-align: center;
    width: 70%;
    height: 536px;
    box-sizing: border-box;
    background-color: #ededed;
    bottom: 62px;
    left: 30%;
    position: fixed;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scroll{
    overflow-y: auto;   
}

.p1 {
    margin-top: 10px;
    float: left;
    vertical-align: center;
    box-sizing: border-box;
    margin-left: 12px;
    font-size: 16px;
}

.p2 {
    margin-top: 2px;
    float: left;
    vertical-align: center;
    box-sizing: border-box;
    margin-left: 12px;
    font-size: 14px;
}
